body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}


.navbar {
  display: flex;
  height: 70px;
  padding: 22px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  max-width: 170px;
}

section {
  padding: 20px;
}

.photo-grid {
  Width: 395.91px;
  Height: 232px;
  padding: 50px 80px;
  border-radius: 8.95px;
}

.hero-title {
  left: 40px;
  Font-family: Poppins;
  Font-size: 36px;
  Line-height: 40px;
  Line-height: 110%;
  align-items: Left
}

.hero-description {
  Font-family: Poppins; 
  Font-style: Light;
  Font-size: 16px;
  line-height: 18px;
  Line-height: 110%;
  color: #222222;
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
  padding: 0 37px;
}

.card--image {
  width: 100%;
  height: 235px;
  border-radius: 5%;
}

.card--stats {
  display: flex;
  align-items: center;
}